#blog-list {
  font-family: 'Equity Text', serif;
  font-size: 1rem;
  padding: 2rem;
}

#blog-post {
  font-family: 'Equity Text', serif;
  max-width: 650px;
  margin: 2rem auto;
  padding: 2rem;
  line-height: 1.6;
}

#blog-post h1, h2, h3 {
  font-family: 'Equity Caps', serif;
  margin-top: 2rem;
}

#blog-post pre {
  background: #eee;
  padding: 1em;
  overflow-x: auto;
}
